/movie_notifier/config.json
/movie_notifier/credentials.json
/movie_notifier/token.pickle
/movie_notifier/.idea/
/movie_notifier/__pycache__/

/stock_price_prediction/config.json
/stock_price_prediction/__pycache__/
